* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


nav ul li{
    margin-left: 10px;
    padding: 5px;
}

nav ul li a{
    display: inline-block;
    border: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

div #einstein{
    display: inline-flex;
    margin-bottom: 0px;
    padding: 30px;
}

h2{
    margin-top: 20px;
    margin-bottom: 15px;
}

div .logo_visual{
     border: 5px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); 
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
}

 h3{
    margin-top: 25px;
    margin-bottom: 15px;
    
}

p{
    margin: 6px;
    margin-top: 10px;
    margin-bottom: 20px;    
}

div  .button{
    margin-top: 15px;
    padding: 10px 16px;
}

footer {
border-top: 1px solid #ddd;  
  padding-top: 50px;        
  margin-top: 50px; 
  width: 100%;
}



footer section ul li {
    border-bottom: 1px solid #e0e0e0; 
    padding-bottom: 8px; 
    margin-bottom: 8px; 
}

footer section ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

footer section ul li a {
    text-decoration: none;
    color: #555;
}

section h3{
    margin-top: 1px;
    margin-bottom: 20px;

}


#social {
    margin: 0;
    padding: 0;
}


#social li { 
    margin-bottom: 12px;
    padding: 12px 12px 12px 100px;
}


#social li:last-child {
    margin-bottom: 0;
}
