* {
   margin: 0;
   padding: 0;
}
html {
   background-color: #fff;
}

html {
   background-image: url(../LoveLetter/img/tile.png);
   

}
body{
   background-image: url(../LoveLetter/img/bg.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}
body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
}

body{
   font-family: Arial;
}


h1 {
   margin-top: 35px;
   font-family: caveat;
   color: black;
   text-align: center;
   font-size: 45px;
}

main {
   padding-top: 25px;
   font-family: indie flower;
   font-size: 24px;
}

mark {
   background-color: transparent;
}

footer {
   margin-top: 35px;
   font-family: indie flower;
   text-align: end;
   font-size: 20px;
   
}

h1 span{
   color: rgb(126,3,3);

}

p{
   color:  rgb(31, 31, 170)
}

p mark{
   color: black;
   font-size: 20px;
   background-color: rgb(233, 209, 209);
   font-weight: bold;
}

.date{
   font-size: 12px;
}
